<footer>
  <p class="site-info">
    Theme - <a href="https://github.com/dongyuanxin/theme-bmw">BMW</a> | Made With 💗 | Powered by <a href="https://godbmw.com/">GodBMW</a>
    <br>
    <% if(theme.footer.more){ %>
      <%- theme.footer.more %>
    <% } %>
  </p>
</footer>
